.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    padding-top: 3.2rem
}

.logoLink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    gap: .2rem;
    flex-direction: column;
    font-size: 4.2rem;
    text-decoration: None;
    color: var(--primary);
}

.logoLink:hover {
    filter: brightness(80%);
    transition: all 1 ease-in-out;
}

.logoLink svg {
    width: 6.4rem;
    height: 6.4rem;
}